@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn, .btn-b {
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 18px;
	font-size: 12px;
}

hr {
	border:0px;
	background-color: #eee;
	height: 2px;
	width: 880px;
}

/*-------------    -------------*/

body {
	margin: 0;
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	min-width: 900px;
}

.container {
	width: 880px;
	padding: 0 10px;
	margin: 0 auto;
}

.index-header {
	background-color: #eee;

}

.index-header a {
	text-decoration: none;
}

/*----------- Навигация ------------*/

.index-logo {
	margin-top: 25px;
	float: left;
}

.index-nav {
	display: inline-block;
	vertical-align: top;
}

.index-nav ul {
	list-style: none;
	margin:0;
	padding: 0;
}

.index-nav li {
	display: inline-block;
	vertical-align: top;
	margin: 55px 45px 30px 0px;
}

.index-nav li:first-child {
	margin-left: 180px;
}

.index-nav a {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 14px;
	color: #000;
}

.basket {
	float: right;
	margin: 55px 0px 30px 0px;
	position: relative;
}

.basket a {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 14px;
	color: #000;
	padding-left: 30px;
}

.basket a:before {
	position: absolute;
	top: -1px;
	left: 5px;
	content: "\62";
	font-family: "symbols-nerds";
	text-transform: none;
	color: #a6a6a6;
}

.index-nav a:hover, .basket a:hover, .basket a:hover::before {
	color: #fb565a;
}

.index-nav a:active, .basket a:active, .basket a:active::before {
	color: #000;
	opacity: 0.4;
}

/*-------------- Слайдер ------------*/

.slider {
	width: 880px;
	height: 320px;
	position: relative;
}

.slider input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 405px;
	z-index: 100;
}

.slider-controls label {
	display: inline-block;
	vertical-align: top;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: #fff;
	border: 3px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
	background:#c1c1c1;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide-text {
	display: inline-block;
	vertical-align: top;
	width: 470px;
	margin-top: 45px;
}

.slide-title {
	display: inline-block;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: normal;
	line-height: 36px;
	font-size: 36px;
	color: #000;
}

.slide-text p {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: normal;
	line-height: 22px;
	font-size: 16px;
	color: #283136;
	margin-bottom: 30px;
}

.slide-text a {
	background-color: #fb565a;
	padding: 10px 70px 10px 70px;
}

.slide-text a:hover {
	background-color: #d6494d;
}

.slide-text a:active {
	background-color: #b63538;
	box-shadow: inset 0px 4px rgba(0,0,0,0.1);
}

.slide:nth-child(1) {
	background: url("../img/slide-1.png") no-repeat 100% 10px;
}
.slide:nth-child(2) {
	background: url("../img/slide-2.png") no-repeat 100% 10px;
}
.slide:nth-child(3) {
	background: url("../img/slide-3.png") no-repeat 100% 10px;
}

.slide {
	display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
	display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
	display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
	display: block;
}

/*--------------- Features ----------*/

.index-main {
	background-color: #fff;
	color: #000;
}

.features-item {
	float: left;
	width: 240px;
	margin: 80px 80px 90px 0px;
}

.features-item:last-child {
	margin-right: 0px;
	float: right;
}

.features-item b {
	display: inline-block;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 18px;
	color: #000;
	margin-top: 20px;
}

.features-item p {
	display: inline-block;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 22px;
	font-size: 15px;
	color: #283136;
	margin-bottom: 30px;
}

.web a {
	background-color: #fb565a;
	padding: 12px 40px;
}

.web a:hover {
	background-color: #d6494d;
}

.web a:active {
	background-color: #b63538;
	box-shadow: inset 0px 4px rgba(0,0,0,0.1);
}

.apps a {
	background-color: #00ca74;
	padding: 12px 40px;
}

.apps a:hover {
	background-color: #01a25e;
}

.apps a:active {
	background-color: #009053;
	box-shadow: inset 0px 4px rgba(0,0,0,0.1);
}

.present a {
	background-color: #efc84a;
	padding: 12px 40px;
}

.present a:hover {
	background-color: #d6ae2c;
}

.present a:active {
	background-color: #c09b24;
	box-shadow: inset 0px 4px rgba(0,0,0,0.1);
}

/*------------- Info -------------*/

.info-left-block {
	float: left;
	width: 540px;
	margin-top: 70px;
}

.info-left-block h1 {
	margin:0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 36px;
	font-size: 36px;
	color: #000;
}

.info-left-block p {
	margin:30px 0px 50px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 22px;
	font-size: 16px;
	color: #283136;
}

.info-right-block {
	float: right;
	margin-top: 65px;
	position: relative;
}

.info-right-block:before {
	content: "";
	position: absolute;
	background: url(../img/Since-2004.png) no-repeat;
	top: 110px;
	left: -31px;
	width: 240px;
	height: 13px;
}

.info-right-block > .info-ul > span {
	display: inline-block;
	vertical-align: top;
	margin-top: 145px;
}

.info-ul span {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 22px;
	font-size: 16px;
	color: #283136;
	text-transform: uppercase;
}

.info-ul {
	position: relative;
	margin-bottom: 70px;
}

.info-ul ul {
	list-style: none;
}

.info-ul li {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 22px;
	font-size: 16px;
	color: #283136;
}

.info-ul li:before {
	content: "";
	position: absolute;
	background-color: #fb565a;
	width: 25px;
	height: 2px;
	left: 0px;
	margin-top: 10px;
}

/*------------------ Banners ---------------*/

.banners {
	margin: 45px 0px 35px 0px;
}

.banner {
	display: inline-block;
	vertical-align: middle;
	margin-right: 121px;
	width: 210px;
	opacity: 0.2;
}

.banner:last-child {
	margin-right: 0px;

}

.banner:hover, .banner:active {
	opacity: 1;
}

/*---------------- Maps ----------------*/

.map {
	width: 100%;
	height: 420px;
	margin: 76px 0px;
	background: #e9e5dc;

}

.contacts-container {
	position: relative;

}

.maps-contacts {
	background-color: #fff;
	width: 250px;
	position: absolute;
	top: -405px;
	left: 160px;
	
}

.maps-contacts b {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	margin: 20px 22px;
}

.maps-contacts p, .maps-contacts span{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 20px;
	font-size: 16px;
	color: #666666;
	margin: 20px 22px;
}

.maps-contacts a {
	display: block;
	background-color: #fb565a;
	padding: 10px 40px;
	margin: 30px 20px;
	text-align: center;
}

.maps-contacts a:hover {
	background-color: #d6494d;
}

.maps-contacts a:active {
	background-color: #b63538;
	box-shadow: inset 0px 4px rgba(0,0,0,0.1);
}

/*------------------- Footer ----------------*/

.social {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 76px;
}

.social a {
	display: inline-block;
	vertical-align: middle;
	font-family: "symbols-nerds";
  	text-align: center;
  	text-transform: none;
  	text-decoration: inherit;
  	font-style: normal;
  	font-variant: normal;
  	background-color: #666666;
  	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	color: #fff;
  	line-height: 60px;
  	font-size: 20px;
  	margin-right: 28px;
}

.social-vk::before {
	content: "\76";
}

.social-fb::before {
	content: "\66";
}

.social-inst::before {
	content: "📷";
}

.social a:hover {
	background-color: #fb565a;
}

.social a:active {
	background-color: #d6494d;
	box-shadow: inset 0px 4px rgba(0,0,0,0.1);
}

.frends {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 76px;
}

.frends b {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 36px;
	font-size: 36px;
	color: #000;
	padding: 0;
	margin-left: 50px;
}

.frends span {
	display: block;
	margin-left: 50px;
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 22px;
	font-size: 16px;
	color: #283136;
}

/*--------------------- Форма отправки ---------*/

.popap {
	position: relative;
	display: none;
}

.popap-show {
	display: block;
}

.modal-content {
	position: absolute;
	width: 630px;
	left: 50%;
	margin-left: -315px;
	top:-670px;
	background-color: #fff;
	box-shadow: 0px 0px 22px 1px #adadad;
}

.modal-content-close {
	position: relative;
	float: right;
	width: 41px;
	height: 41px;
	background-color: #fb565a;
	font-size: 0;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	margin-right: 6px;
	margin-top: 6px;
}

.modal-content-close:hover {
	background-color: #d6494d;
}

.modal-content-close:active {
	background-color: #d6494d;
	box-shadow: inset 0px 4px rgba(0,0,0,0.1);
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	width: 24px;
	height: 5px;
	background-color: #fff;
	border-radius: 1px;
	top: 18px;
	left: 9px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content label {
	display: inline-block;
	vertical-align: top;
	margin-top: 51px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 18px;
	font-size: 16px;
	color: #000;
}

.modal-content label:nth-child(2) {
	margin-left: 81px;
}

.modal-content label:nth-child(6) {
	margin-top: 22px;
	margin-left: 81px;
}

.modal-content label:nth-child(3) {
	margin-left: 156px;
}

.modal-content input[type="text"] {
	border: 2px solid #d7dcde;
	border-radius: 3px;
	padding: 10px 11px;
}

.modal-content input::-webkit-input-placeholder,
.modal-content textarea::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
}
.modal-content input:-moz-placeholder,
.modal-content textarea:-moz-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;	
}

.modal-content input:nth-child(4) {
	margin-top: 10px;
	margin-left: 81px;
}

.modal-content input:nth-child(5) {
	margin-top: 10px;
	margin-left: 16px;
}

textarea {
	display: block;
	width: 435px;
	margin-left: 81px;
	margin-top: 10px;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	padding: 10px 11px;
	resize: none;
}

.btn-b {
	width: 460px;
	padding: 13px 195px;
	margin: 45px 0px 48px 81px;
	background-color: #fb565a;
	border: none;
	cursor: pointer;
}

.btn-b:active {
	background-color: #d6494d;
	box-shadow: inset 0px 4px rgba(0,0,0,0.1);
}

.modal-content input[type="text"]:hover,
.modal-content textarea:hover {
	border: 2px solid #a2a9ac;
}

.modal-content input[type="text"]:focus,
.modal-content textarea:focus {
	border: 2px solid #56bffb;
}








